In [9]:
import os
import sys
if os.path.dirname(os.getcwd()) not in sys.path:
    sys.path.append(os.path.dirname(os.getcwd()))

from tradingaccount.account.usaccount import usAccount
import pandas as pd
from datetime import datetime

In [10]:
import os
import sys
import unittest
import pandas as pd

parent_dir = os.path.normpath(os.path.join(os.getcwd(), '../..'))
if parent_dir not in sys.path:
    sys.path.insert(0, parent_dir)

In [11]:
testacct=usAccount(5000)
testacct.withdraw(300,'2019-10-27')
testacct.deposit(5300,'2019-11-01')
testacct.buy('AAPL',5,235,'2019-10-18')
testacct.buy('AAPL',5,255,'2019-11-01')
testacct.sell('AAPL',10,267,'2019-11-27')
testacct.sell('GOOGL',2,1252,'2019-10-18')
testacct.sell('GOOGL',1,1288,'2019-10-28')
testacct.buy('GOOGL',4,1304,'2019-11-27')
testacct.withdraw(500,'2019-11-29')

In [12]:
testacct.stock_history

  Balance Action  Stock Amount Price        Date Previous_Balance Commission
0    8824    buy   AAPL      5   235  2019-10-18            10000          1
1    7548    buy   AAPL      5   255  2019-11-01             8824          1
2   10217   sell   AAPL     10   267  2019-11-27             7548          1
3   12720   sell  GOOGL      2  1252  2019-10-18            10217          1
4   14007   sell  GOOGL      1  1288  2019-10-28            12720          1
5    8790    buy  GOOGL      4  1304  2019-11-27            14007          1

In [13]:
testacct.account_history

  Balance    Action Amount        Date Previous_Balance
0    4700  withdraw    300  2019-10-27             5000
1   10000   deposit   5300  2019-11-01             4700
2    8290  withdraw    500  2019-11-29             8790

In [14]:
testacct.stock

{'AAPL': 0, 'GOOGL': 1}

In [15]:
testacct.balance

8290